In [39]:
from sqlite3 import connect

In [40]:
conn = connect("my_database.sqlite")
c = conn.cursor()

In [42]:
c

In [43]:
c.execute("""
CREATE TABLE students (id, first_name, last_name)
""")

In [44]:
c.execute("""
PRAGMA table_info(students)
""").fetchall()

[(0, 'id', '', 0, None, 0),
 (1, 'first_name', '', 0, None, 0),
 (2, 'last_name', '', 0, None, 0)]

In [45]:
c.execute("""
INSERT INTO students (id, first_name, last_name) VALUES (1, "Alice", "Smith");
""")

In [46]:
c.execute("""
INSERT INTO students (id, first_name, last_name) VALUES (2, "Bob", "Smith");
""")

In [47]:
c.execute("""
SELECT * FROM students;
""").fetchall()

[(1, 'Alice', 'Smith'), (2, 'Bob', 'Smith')]

In [48]:
c.execute("""
SELECT last_name, first_name FROM students;
""").fetchall()

[('Smith', 'Alice'), ('Smith', 'Bob')]

In [49]:
conn.commit()

In [50]:
c.close()

In [51]:
conn.close()

In [53]:
conn = connect("my_database.sqlite")
c = conn.cursor()

In [54]:
c.execute("""
SELECT * FROM students;
""").fetchall()

[(1, 'Alice', 'Smith'), (2, 'Bob', 'Smith')]

In [55]:
c.close()
conn.close()